{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Create Course Class
{% endblock %}
{% block head-of-body %}
<div>
    <div class="nnl"><i class="fa fa-file"></i></div>
    <div class="nnl name">&nbsp;&nbsp;DSS/&nbsp;Class/&nbsp;Create</div>
</div>
{% endblock %}
{% block body %}
<div class="bg-light rounded p-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-color1 btn-block">
            Create Course Class
        </button>
    </form>
</div>
<script>
$(function(){
    $('#div_id_date_of_starting_BS').hide();
    $('#div_id_date_of_ending_BS').hide();
    $('#div_id_date_of_starting_AD').hide();
    $('#div_id_date_of_ending_AD').hide();
    var calendar1 = $('#id_calendar').val();
    $('#div_id_date_of_starting_' + calendar1).show();
    $('#div_id_date_of_ending_' + calendar1).show();
    $('#id_calendar').change(function(){
        var calendar = $(this).val();
        $('#div_id_date_of_starting_BS').hide();
        $('#div_id_date_of_ending_BS').hide();
        $('#div_id_date_of_starting_AD').hide();
        $('#div_id_date_of_ending_AD').hide();
        $('#div_id_date_of_starting_' + calendar).show();
        $('#div_id_date_of_ending_' + calendar).show();
        if (calendar=='AD'){
            $('input#id_date_of_starting_BS').val('');
            $('input#id_date_of_ending_BS').val('');
        }
        else if(calendar=='BS'){
            $('input#id_date_of_starting_AD').val('');
            $('input#id_date_of_ending_AD').val('');
        }
        else{
            $('input#id_date_of_starting_BS').val('');
            $('input#id_date_of_ending_BS').val('');
            $('input#id_date_of_starting_AD').val('');
            $('input#id_date_of_ending_AD').val('');
        }
    })
});
</script>
{% endblock %}