{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Password reset confirm
{% endblock %}
{% block body %}
{% if validlink %}
<div class="bg-light rounded container rounded p-5 mt-5 mb-5">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-color1 btn-block">Save</button>
    </form>
</div>
{% else %}
<div class="bg-light container rounded p-5 mt-5 mb-5">
    <p>Invalid token</p>
    <a href="{% url 'password_reset' %}">Request a new password reset token</a>
</div>
{% endif %}
{% endblock %}