{% extends 'dashboard.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
Read Course Class
{% endblock %}
{% block head-of-body %}
<div>
    <div class="nnl"><i class="fa fa-file"></i></div>
    <div class="nnl name">&nbsp;&nbsp;DSS/&nbsp;Class</div>
</div>
{% endblock %}
{% block body %}
<div class="row justify-content-end mr-2">
    <a href="{% url 'dss:create-course-class' %}" class="click-me no-decoration mx-2 px-4 py-2 mt-1">Create Class</a>
</div>
<br>
<div class="mx-3">
    <input type="text" name="search" id="search" class="form-control" placeholder="Search Class"/>
</div>
<br>
<div class="container-fluid table-responsive">
    <table class="table table-hover" id="pdfable">
        <thead>
        <tr>
            <th class="num">Id</th>
            <th>Course</th>
            <th>Date of Starting</th>
            <th>Date of Ending</th>
            <th>Average hours/day</th>
            <th>Days/week</th>
            <th>Shift</th>
            <th>Created by</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for course_class in course_classes reversed %}
        <tr>
            <td>{{course_class.id}}</td>
            <td><a href="{% url 'dss:course-class-detail' course_class.id %}" class="underlineless">{{course_class.course}}</a></td>
            <td>
                {% if course_class.date_of_starting_AD|date:"Y-m-d" != '1975-01-01' %}
                {{course_class.date_of_starting_AD}}
                ({% nepali_date course_class.date_of_starting_AD %} BS)
                {% endif %}
            </td>
            <td>
                {% if course_class.date_of_ending_AD|date:"Y-m-d" != '1975-01-01' %}
                {{course_class.date_of_ending_AD}}
                ({% nepali_date course_class.date_of_ending_AD %} BS)
                {% endif %}
            </td>
            <td>{{course_class.average_hours_per_day}}</td>
            <td>{{course_class.days_per_week}}</td>
            <td>{{course_class.shift}}</td>
            <td>{{course_class.user}}</td>
            <td>
                <a href="{% url 'dss:course-class-detail' course_class.id %}"><i class="fa fa-info" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="{% url 'dss:update-course-class'  course_class.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="{% url 'dss:delete-course-class'  course_class.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>&nbsp;&nbsp;
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="button" class="click-me no-decoration mx-2 px-4 py-2 mt-1" id="btnExport" value="Export PDF" />
    <input type="button" class="click-me no-decoration mx-2 px-4 py-2 mt-1" onclick="exportTableToExcel('pdfable', 'document')" value="Export XLS"/>
</div>
<script>
    $(function(){
        $('#search').keyup(function(){
            search_table($(this).val());
        });
        function search_table(value){
            $('table tbody tr').each(function(){
                var found='false';
                $(this).each(function(){
                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){
                        found = 'true';
                    }
                });
                if(found == 'true'){
                    $(this).show();
                }
                else
                {
                    $(this).hide();
                }
            });
        }
    });
</script>
<script>
    $(function(){
        $('th').each(function(column){
            $(this).hover(function(){
                $(this).data('type', $(this).attr('class'));
                $(this).addClass('clickable');
            }, function(){
                $(this).removeClass('clickable');
            });
            $(this).click(function(){
                var ascending = $(this).hasClass('ascending');
                var type = $(this).data('type');
                var records = $('table').find('tbody > tr');
                records.sort(function(a,b){
                    var value1 = $(a).children('td').eq(column).text();
                    var value2 = $(b).children('td').eq(column).text();
                    if (type == 'num'){
                        value1 *= 1;
                        value2 *= 1;
                    }
                    if(ascending){
                      return (value1 > value2) ? -1 : (value1 < value2 ? 1: 0)
                    }else{
                      return (value1 < value2) ? -1 : (value1 > value2 ? 1 : 0)
                    }
                });
                $(this).toggleClass('ascending');
                $.each(records, function(index, row){
                    $('tbody').append(row);
                });
            });
        });
    });
</script>
{% endblock %}