{% extends 'dashboard.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
Read Employment
{% endblock %}
{% block head-of-body %}
<div>
    <div class="nnl"><i class="fa fa-briefcase"></i></div>
    <div class="nnl name">&nbsp;&nbsp;DSS/&nbsp;Class/&nbsp;Employment</div>
</div>
{% endblock %}
{% block body %}
<div class="mx-3">
    <input type="text" name="search" id="search" class="form-control" placeholder="Search Employment"/>
</div>
<br>
<div class="container-fluid table-responsive">
    <table class="table table-hover" id="pdfable">
        <thead>
        <tr>
            <th class="num">Id</th>
            <th>Trainee</th>
            <th>Date of Call</th>
            <th>Job Status</th>
            <th>Course Class</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for employment in employments reversed %}
        {% if employment.trainee.course_class == required_course_class %}
        <tr>
            <td>{{employment.id}}</td>
            <td>{{employment.trainee}}</td>
            <td>
                {% if employment.date_of_call_AD|date:"Y-m-d" != '1975-01-01' %}
                {{employment.date_of_call_AD}}
                ({% nepali_date employment.date_of_call_AD %} BS)
                {% endif %}
            </td>
            <td>{{employment.job_status}}</td>
            <td>{{employment.course_class}}</td>
            <td>
                <a href="{% url 'dss:employment-detail' employment.course_class.id employment.id %}"><i class="fa fa-info" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="{% url 'dss:update-employment' employment.course_class.id employment.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="{% url 'dss:delete-employment' employment.course_class.id employment.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <input type="button" class="click-me no-decoration mx-2 px-4 py-2 mt-1" id="btnExport" value="Export PDF" />
    <input type="button" class="click-me no-decoration mx-2 px-4 py-2 mt-1" onclick="exportTableToExcel('pdfable', 'document')" value="Export XLS"/>
</div>
<script>
    $(function(){
        $('#search').keyup(function(){
            search_table($(this).val());
        });
        function search_table(value){
            $('table tbody tr').each(function(){
                var found='false';
                $(this).each(function(){
                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){
                        found = 'true';
                    }
                });
                if(found == 'true'){
                    $(this).show();
                }
                else
                {
                    $(this).hide();
                }
            });
        }
    });
</script>
<script>
    $(function(){
        $('th').each(function(column){
            $(this).hover(function(){
                $(this).data('type', $(this).attr('class'));
                $(this).addClass('clickable');
            }, function(){
                $(this).removeClass('clickable');
            });
            $(this).click(function(){
                var ascending = $(this).hasClass('ascending');
                var type = $(this).data('type');
                var records = $('table').find('tbody > tr');
                records.sort(function(a,b){
                    var value1 = $(a).children('td').eq(column).text();
                    var value2 = $(b).children('td').eq(column).text();
                    if (type == 'num'){
                        value1 *= 1;
                        value2 *= 1;
                    }
                    if(ascending){
                      return (value1 > value2) ? -1 : (value1 < value2 ? 1: 0)
                    }else{
                      return (value1 < value2) ? -1 : (value1 > value2 ? 1 : 0)
                    }
                });
                $(this).toggleClass('ascending');
                $.each(records, function(index, row){
                    $('tbody').append(row);
                });
            });
        });
    });
</script>
{% endblock %}