{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Edit Profile
{% endblock %}
{% block head-of-body %}
<div>
    <div class="nnl"><i class="fa fa-user-circle"></i></div>
    <div class="nnl name">&nbsp;&nbsp;DSS/&nbsp;Profile/&nbsp;Edit</div>
</div>
{% endblock %}
{% block body %}
<div class="bg-light rounded p-5">
    <form method="post" enctype="multipart/form-data" id="addressForm" data-districts-url="{% url 'ajax_load_districts' %}" data-municipalities-url="{% url 'ajax_load_municipalities' %}" novalidate>
        {% csrf_token %}
        {{form.media}}
        {{ form|crispy }}
        {{profile_form.media}}
        {{ profile_form|crispy }}
        <button type="submit" class="btn btn-color1 btn-block">
            Edit Profile
        </button>
    </form>
</div>
{% endblock %}