{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Update Capacity Building
{% endblock %}
{% block head-of-body %}
<div>
    <div class="nnl"><i class="fa fa-university"></i></div>
    <div class="nnl name">&nbsp;&nbsp;Admin/&nbsp;Capacity Building/&nbsp;Update</div>
</div>
{% endblock %}
{% block body %}
<div class="bg-light rounded p-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-color1 btn-block">
            Update Capacity Building
        </button>
    </form>
</div>
<script>
$(function(){
    $('#div_id_planned_start_date_BS').hide();
    $('#div_id_planned_end_date_BS').hide();
    $('#div_id_actual_start_date_BS').hide();
    $('#div_id_actual_end_date_BS').hide();
    $('#div_id_planned_start_date_AD').hide();
    $('#div_id_planned_end_date_AD').hide();
    $('#div_id_actual_start_date_AD').hide();
    $('#div_id_actual_end_date_AD').hide();
    var calendar1 = $('#id_calendar').val();
    $('#div_id_planned_start_date_' + calendar1).show();
    $('#div_id_planned_end_date_' + calendar1).show();
    $('#div_id_actual_start_date_' + calendar1).show();
    $('#div_id_actual_end_date_' + calendar1).show();
    $('#id_calendar').change(function(){
        var calendar = $(this).val();
        $('#div_id_planned_start_date_BS').hide();
        $('#div_id_planned_end_date_BS').hide();
        $('#div_id_actual_start_date_BS').hide();
        $('#div_id_actual_end_date_BS').hide();
        $('#div_id_planned_start_date_AD').hide();
        $('#div_id_planned_end_date_AD').hide();
        $('#div_id_actual_start_date_AD').hide();
        $('#div_id_actual_end_date_AD').hide();
        $('#div_id_planned_start_date_' + calendar).show();
        $('#div_id_planned_end_date_' + calendar).show();
        $('#div_id_actual_start_date_' + calendar).show();
        $('#div_id_actual_end_date_' + calendar).show();
        if (calendar=='AD'){
            $('input#id_planned_start_date_BS').val('');
            $('input#id_planned_end_date_BS').val('');
            $('input#id_actual_start_date_BS').val('');
            $('input#id_actual_end_date_BS').val('');
        }
        else if(calendar=='BS'){
            $('input#id_planned_start_date_AD').val('');
            $('input#id_planned_end_date_AD').val('');
            $('input#id_actual_start_date_AD').val('');
            $('input#id_actual_end_date_AD').val('');
        }
        else{
            $('input#id_planned_start_date_BS').val('');
            $('input#id_planned_end_date_BS').val('');
            $('input#id_actual_start_date_BS').val('');
            $('input#id_actual_end_date_BS').val('');
            $('input#id_planned_start_date_AD').val('');
            $('input#id_planned_end_date_AD').val('');
            $('input#id_actual_start_date_AD').val('');
            $('input#id_actual_end_date_AD').val('');
        }
    })
});
</script>
{% endblock %}